<header>
  <h1> {{ title }} </h1>

  <nav>
    <ul class="menu">
      <li> <a [routerLink]= "['/home']" > Home </a> </li>
      <li> <a [routerLink]= "['/about']" > About </a> </li>
      <li> <a [routerLink]= "['/quotes']" > Quotes </a> </li>
      <li> <a [routerLink]= "['/contacts']" > Contacts </a> </li>
      <li> <a [routerLink]= "['/counters']" > Counters </a> </li>
      <li> <a [routerLink]= "['/chuck']" > Chuck Norris Joke </a> </li>
    </ul>
  </nav>
</header>

<!-- all routes will be rendered here: -->
<router-outlet></router-outlet>

<footer>
  <p> Made with &hearts; at Ironhack. </p>
</footer>
